@page
@using Fingerprintjs2.AspNetCore
@model IndexModel


<form method="post">
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group">
            @Html.Fingerprint()
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </fieldset>
</form>


<p>Browser fingerprint is @Model.Fingerprint</p>
